[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-tools-path"
version = "0.3.0"
description = "Library to locate Ansys products in a local machine."
readme = "README.rst"
requires-python = ">=3.8,<4"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]
maintainers = [
    {name = "ANSYS, Inc.", email = "pyansys.core@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "platformdirs>=3.6.0",
]


[project.optional-dependencies]
tests = [
    "pytest==7.4.0",
    "pytest-cov==4.1.0",
    "pyfakefs==5.2.2",
]

doc = [
    "Sphinx==7.0.1",
    "numpydoc==1.5.0",
    "ansys-sphinx-theme==0.9.9",
    "sphinx-copybutton==0.5.2",
]

build = [
    "build==0.10.0",
    "twine==4.0.2",
]

[tool.flit.module]
name = "ansys.tools.path"

[project.urls]
Source = "https://github.com/ansys/ansys-tools-path"
Tracker = "https://github.com/ansys/ansys-tools-path/issues"
Homepage = "https://github.com/ansys/ansys-tools-path"
Documentation = "https://path.tools.docs.pyansys.com"


[tool.black]
line-length = 100

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 100
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tools.flake8]
max-line-length = 100

[tool.coverage.run]
source = ["ansys.tools"]

[tool.coverage.report]
show_missing = true

[tool.pytest.ini_options]
markers = [
    "win32: Mark a test windows only",
    "linux: Mark a test linux only"
]
