[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
# Check https://flit.readthedocs.io/en/latest/pyproject_toml.html for all available sections
name = "ansys-tools-path"
version = "0.1.dev0"
description = "Library to locate ansys products in a local machine."
readme = "README.rst"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "ANSYS, Inc.", email = "pyansys.support@ansys.com"},
]
maintainers = [
    {name = "PyAnsys developers", email = "pyansys.maintainers@ansys.com"},
]

classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "importlib-metadata >=4.0",
    "appdirs>=1.4.0",
]


[project.optional-dependencies]
tests = [
    "pytest==7.2.1",
    "pytest-cov==4.0.0",
]

doc = [
    "Sphinx==5.0.2",
    "numpydoc==1.4.0",
    "ansys-sphinx-theme==0.4.2",
    "sphinx-copybutton==0.5",
]

build = [
    "build==0.8.0",
    "twine==4.0.1",
]

[tool.flit.module]
name = "ansys.tools.path"

[project.urls]
Source = "https://github.com/pyansys/ansys-tools-path"
Tracker = "https://github.com/pyansys/ansys-tools-path/issues"
Homepage = "https://github.com/pyansys/ansys-tools-path"


[tool.black]
line-length = 120

[tool.isort]
profile = "black"
force_sort_within_sections = true
line_length = 120
default_section = "THIRDPARTY"
src_paths = ["doc", "src", "tests"]

[tools.flake8]
max-line-length = 100

[tool.coverage.run]
source = ["ansys.tools"]

[tool.coverage.report]
show_missing = true
